body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
.wrapper{
    margin:0 auto;
}
.bg1{
    background-color: #F5F6F8;
}
.header{
    height: 107px;
    width: 1920px;
}
.content{
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
}
.header__logo{
    margin: 42px 40px 0px 40px;
    font-size: 40px;
}
.header__menu{
    display: flex;
    margin: 42px 40px 0px 40px;
}
.header__menu__item {
    font-size: 20px;
    line-height: 24px;
    margin: 0px 50px 0px 50px;
}
.header__phone{
    margin: 42px 40px 0px 40px;
}
.ranx__phone {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}
.header__invitebtn{
    margin: 15px 0px 0px 0px;
    text-align: end;
}
.main__title{
    height: 519px;
    width: 1920px;
}
.main__title__text{
    font-size: 90px;
    line-height: 105px;
    max-height: 315px;
    max-width: 1171px;
    padding-top: 1px;
    padding-left: 195px;
}
.main__title__text p{
    color:transparent;
    background-clip: text;
    background-image: linear-gradient(91.38deg, #333991 0.64%, #FD634E 99.07%);
;
}
.att{
    width: 1920px;
    height: 802px;
}
.att__row{}
.row1{
    display: flex;
    height: 401px;
    width: 1920px;
    /* padding: 4px;
    padding-left: 0px;
    padding-right: 0px; */
}
.row2{
    display: flex;
    height: 401px;
    width: 1920px;

}
.att__item{
    height: 400px;
    width: 959px;
    border-top: 4px solid white;
}
.att__item__text{
    font-size: 24px;
    line-height: 40px;
    margin: 100px 85px 100px 195px;
}
.rightitemtext {
    margin: 100px 476px 80px 80px;
}
.rightitemtext p {
    margin-bottom: 124px;
}
.text2 {
    margin: 100px 197px 140px 80px;
}
.item1{
    background-image: url(../img/Group%2031%201.png);
    border-left: 4px solid white;
    border-top: 4px solid white;
}
.item2{
    background-color: #F5F6F8;
    height: 400px;
    width: 959px;
    border-left: 4px solid white;
    border-top: 4px solid white;
}
.landing__row {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    background: linear-gradient(102.73deg, #333991 4.96%, #1C243E 111.6%);
    max-width: 1840px;
    height: 890px;
}
.landing__title{
    color:#FFFFFF;
    font-size: 60px;
    line-height: 70px;
    margin: 100px 0px 0px 161px;
    font-weight: 600;
    height: 210px;
    width: 489px;
}
.landing__choice{
    color: #FFFFFF;
    margin: 142px 0px 0px 160px;
    font-size: 18px;
    line-height: 25px;
}
.landing__img {
    height: 457px;
    width: 1009px;
    margin: 115px 150px 318px 31px;
    background-image: url(../img/Group%209%201.png);
}

.footer{
    height: 425px;
    width: 1921px;
    background-color: #1C1C1C;
}
.footer__row{
    display: flex;
    flex-direction: column;
}
.footer__head{
    display: flex;
    flex-direction: row;
}
.footer__left__email{
    color: #FFFFFF;
    font-size: 45px;
    line-height: 55px;
    margin: 90px 91px 90px 195px;
}
.footer__left__phone{
    color: #FFFFFF;
    font-size: 45px;
    line-height: 55px;
    margin: 90px 599px 90px 0px;
}
.footer__right__btn{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    margin: 117px 196px 147px 0px;
}
.footer__right__btn__underline{
    margin-top: 8px;
    height: 1px;
    width: 150px;
    background-image: url(../img/Rectangle%20607.png);
}
.footer__footer{
    display: flex;
}
.footer__footer__left{
    display: flex;
    flex-direction: column;
}
.footer__left__adress{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 621px 30px 195px;
}
.footer__left__rights{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 760px 0px 195px;
}
.footer__right__sn{
    display: flex;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.footer__element{
    margin: 0px 30px 0px 30px;
}
.footer__element :first-child{
    margin-left: 0px;
}
.cases__title {
    color: #222222;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    margin: 60px 454px 60px 195px;
}
.cases__title p{
    margin: 0;
}
.mavt__img {
    background-image: url(../img/Mask%20Group.png);
    height: 550px;
    width: 750px;
}
.cases__text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 40px;
    max-width: 681px;
}
.cases__row {
    margin: 0px 180px 0px 180px;
}
.cases__item {
    margin: 0px 15px 90px 15px;
}