
body {
    padding:0;
    margin:0;
    overflow:hidden;
  height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}

#git
{
  position: absolute;
  z-index: 2;
  margin: 40px auto;
  width:50px;
  height:50px;
}
#vk
{
  position: absolute;
  z-index: 2;
  margin: 40px auto;
  margin-left: 250px;
  width:50px;
  height:50px;
}

.panel1{
  
  position: absolute;
  z-index:3;
  width:350px;
  height:550px;
  background:rgba(167, 166, 166, 0.808);
  top:20%;
  left:7%;
  margin: auto;
  padding:20px;
  border-radius: 5px;
}
.text-panel1
{
  font: italic small-caps bold 16px/2 cursive;
  font-size:1.3em;
  text-align: center;
  padding: 5px;
}
.button-panel1
{
  background:rgb(167, 166, 166);
  padding: 35px;
  width:50px ;
  height:50px ;
  margin: auto;
}



.panel2{
  
  position: absolute;
  z-index:3;
  width:350px;
  height:550px;
  background:rgba(167, 166, 166, 0.808);
  top:20%;
  left:38.5%;
  margin: auto;
  padding:20px;
  border-radius: 5px;
}
.text-panel2
{
  font: italic small-caps bold 16px/2 cursive;
  font-size:1.3em;
  text-align: center;
  padding: 5px;
}
.button-panel2
{
  background:rgb(167, 166, 166);
  padding: 35px;
  width:50px ;
  height:50px ;
  margin: auto;
}





.panel3{
  
  position: absolute;
  z-index:3;
  width:350px;
  height:550px;
  background:rgba(167, 166, 166, 0.808);
  top:20%;
  left:70%;
  margin: auto;
  padding:20px;
  border-radius: 5px;
}
.text-panel3
{
  font: italic small-caps bold 16px/2 cursive;
  font-size:1.3em;
  text-align: center;
  padding: 5px;
}
.button-panel
{
  background:rgb(167, 166, 166);
  padding: 35px;
  width:50px ;
  height:50px ;
  margin: auto;
}

